<template name="player_channel">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MdsBGwz4ovc" frameborder="0" allowfullscreen></iframe>
    </div>
</template>

<template name="empty-player">
    <div class="player-overlay">
        <i class="fa fa-video-camera"></i>

        <div class="player-overlay-textbox">
            <h3>Hiện tại không có video nào đang chạy.</h3>
        </div>
    </div>
</template>

<template name="youtube_player">
    {{#with player}}
    <video id="videoPlayer_{{channelId}}" class="video-js vjs-default-skin"
           controls preload="auto" width="610" height="360"
           data-setup='{ "techOrder": ["youtube"], "src": "{{playItem.url}}" }'>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a
            web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports
                HTML5 video</a></p>
    </video>
    {{/with}}
</template>