<template name="youtube_search">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="..." id="txtSearchTerm"
                       placeholder="Xin nhập từ khóa hoặc Url clip youtube và nhấn ENTER">

                <div class="input-group-btn">
                    <button type="button" id="btnVideosSource" class="btn btn-success dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-youtube"></i>
                        Youtube
                        <span class="caret"></span>
                    </button>
                </div>
                <!-- /btn-group -->
            </div>
            <!-- /input-group -->
        </div>
    </div>
    {{> Template.dynamic template=resultTemplate.template data=resultTemplate.data}}

</template>

<template name="youtube_search_no_result">
    <div class="emptyListInfo">
        <i class="fa fa-search"></i>
        <h4>Không tìm thấy :( </h4>

        <p>Yêu cầu tìm kiếm không trả lại kết quả nào. Xin thử lại với yêu cầu khác.</p>
    </div>
</template>

<template name="youtube_search_has_result">
    <ol class="videoList">
        {{#each items}}
            <li class="videoListEntry">
                <div class="header">
                    <h5><i class="fa fa-youtube"></i>&nbsp;{{title}}</h5>
                </div>
                <div class="content">
                    <div class="list-container">
                        <div class="thumbnailContainer aspectFourByThreeLetterboxed">
                            <div class="thumbnailClip">
                                <img src="{{thumbnails.high.url}}">
                                <span class="thumbnail-info">{{duration}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-container">
                        <p>{{description}}</p>
                    </div>
                    <div class="list-container text-center">
                        <div class="btn-group-vertical" role="group" aria-label="...">
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="left" title="Thêm vào cuối Danh sách chờ">
                                <i class="fa fa-arrow-down"></i>
                            </button>
                            <button id="btnPlayNow_{{itemId}}" data-id="{{itemId}}" class="btn btn-success" data-toggle="tooltip" data-placement="left" title="Play">
                                <i class="fa fa-play"></i>
                            </button>
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="left" title="Thêm vào đầu Danh sách chờ">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </li>
        {{/each}}
    </ol>
</template>
