body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    padding-top: 70px;
}

#chat-input{
    padding-top: 10px;
}

.container-non-responsive {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 960px;
}

.panel-chat .chat-log{
    height: 347px;
    overflow-y: scroll;
    padding: 5px;
}

.panel-footer{
    padding: 5px;
}

.panel-chat .chat-log .systemEntry {
    font-style: italic;
}
.panel-chat .chat-log .entry {
    line-height: 1.25;
    margin-top: 5px;
    font-size: 8pt;
}

.panel-chat .chat-log .entry .chat-name{
    font-weight: bold;
}

.panel-chat .chat-log .entry .channel-owner{
    color: darkred;
}

ol.user-list {
    list-style: outside none none;
    margin: 0 0 5px;
    padding: 0;
}

ol.user-list > li {
    border-bottom: 1px solid #eee;
    display: table;
    height: 25px;
    padding: 5px;
    width: 100%;
}

ol.user-list > li:first-child {
    border-top: 1px solid #eee;
}

ol.user-list > li > div:nth-child(1) img {
    height: 25px;
    width: 25px;
}

ol.user-list > li > div:nth-child(2) {
    font-weight: 700;
    padding-left: 5px;
}

ol.user-list > li > div:nth-child(3)::after {
    clear: both;
}
ol.user-list > li > div:nth-child(3)::before, ol.user-list > li > div:nth-child(3)::after {
    content: " ";
    display: table;
}
ol.user-list > li > div:nth-child(3)::after {
    clear: both;
}
ol.user-list > li > div:nth-child(3)::before, ol.user-list > li > div:nth-child(3)::after {
    content: " ";
    display: table;
}

ol.user-list > li > div:nth-child(3) ol {
    list-style: outside none none;
    margin: 1px 0;
    padding: 0;
}

ol.user-list > li > div:nth-child(3) ol > li {
    float: right;
    margin: 0 5px;
}

ol.user-list > li > div {
    display: table-cell;
    height: 100%;
    line-height: 25px;
    vertical-align: middle;
}

.vjs-default-skin.vjs-paused .vjs-big-play-button
{
    display: none;
}

.vjs-default-skin.vjs-paused .vjs-control-bar
{
    display: block;
}

.playlist-tabset .tab-content {
    height: 590px;
}
.tab-content {
    padding-top: 5px;
}

.emptyListInfo{
    padding: 50px;
    text-align: center;
    width: 100%;
}

.emptyListInfo i.fa {
    font-size: 5em;
}

.emptyListInfo h4{
    font-size: 2.5em;
}

a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
}

.player-overlay {
    background-color: #e7e7e7;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 30px;
    text-align: center;
    top: 0;
}

#player {
    height : 350px;
    width: 610px;
}

.player-overlay .fa{
    color: #428bca;
    font-size: 10em;
}

.player-overlay .player-overlay-textbox {
    background-color: #dadada;
    border-radius: 4px;
    margin: 0 100px;
    padding: 15px;
}

.fa-5{
    font-size: 12em !important;
}

.fa-4{
    font-size: 7em !important;
}

.fa-3{
    font-size: 4em !important;
}

ol.videoList {
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
    margin-top: 15px;
}

ol.videoList > li.videoListEntry {
    width: 100%;
}

ol.videoList > li.videoListEntry .header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    border-color: #ccc;
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 4px 5px;
    position: relative;
}

ol.videoList > li.videoListEntry .header:before, ol.videoList > li.videoListEntry .header:after {
    content: " ";
    display: table;
}
ol.videoList > li.videoListEntry .header h5 {
    margin: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}
ol.videoList > li.videoListEntry .content {
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    display: table;
    margin-bottom: 5px;
    padding: 5px;
    table-layout: fixed;
    width: 100%;
}

.thumbnailContainer {
    display: block;
    height: 112px;
    width: 200px;
}

.thumbnailContainer .thumbnailClip {
    display: inline-block;
    height: 112px;
    overflow: hidden;
    position: relative;
    width: 200px;
}

.thumbnailContainer.aspectFourByThreeLetterboxed .thumbnailClip img {
    top: -19px;
    width: 100%;
}
.thumbnailContainer .thumbnailClip img {
    display: block;
    left: 0;
    position: absolute;
}

.thumbnailContainer .thumbnailClip .thumbnail-info {
    background-color: #000;
    bottom: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    opacity: 0.75;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    right: 2px;
}
ol.videoList > li.videoListEntry .content > .list-container:nth-child(1) {
    width: 200px;
}
ol.videoList > li.videoListEntry .content > .list-container:nth-child(2) {
    padding: 0 5px;
}

ol.videoList > li.videoListEntry .content > .list-container:nth-child(2) p {
    height: 100px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

ol.videoList > li.videoListEntry .content > .list-container:nth-child(2) {
    width: auto;
}

ol.videoList > li.videoListEntry .content > .list-container {
    display: table-cell;
    height: 100%;
    vertical-align: top;
}