body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
body {
    padding-top: 70px;
}

#chat-input{
    padding-top: 10px;
}

.container-non-responsive {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 960px;
}

.panel-chat .chat-log{
    height: 347px;
    overflow-y: scroll;
    padding: 5px;
}

.panel-footer{
    padding: 5px;
}

.panel-chat .chat-log .systemEntry {
    font-style: italic;
}
.panel-chat .chat-log .entry {
    line-height: 1.25;
    margin-top: 5px;
    font-size: 8pt;
}

.panel-chat .chat-log .entry .chat-name{
    font-weight: bold;
}

.panel-chat .chat-log .entry .channel-owner{
    color: darkred;
}