<template name="menu">
    {{#if currentUser}}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Xem cùng nhau</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{{isActiveRoute regex='home'}}"><a href="/">Trang chủ</a></li>
                    <li class="{{isActiveRoute regex='myChannel'}}"><a href="/channel/{{currentUser._id}}">Kênh của tôi</a></li>
                    <li class="{{isActiveRoute regex='channelOfFriends'}}"><a href="/channel-of-friends">Kênh bạn bè</a></li>
                    <li class=""><a href="/feedback">Góp ý</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" role="presentation">
                        <a id="menuProfile" role="button" data-target="#" href="#" data-toggle="dropdown">
                            <img src="{{currentUser.profile.picture.data.url}}" width="18" height="18" alt="{{currentUser.profile.name}}"/> {{currentUser.profile.name}}
                            <span class="caret"></span>
                        </a>
                        <ul id="menu1" class="dropdown-menu" role="menu">
                            {{#if isInRole 'admin'}}
                            <li role="presentation">
                                <a role="menuitem" href="#">
                                    <i class="fa fa-users"></i> Quản trị người dùng
                                </a>
                            </li>
                            {{/if}}
                            <li role="presentation">
                                <a role="menuitem" href="#">
                                    <i class="fa fa-gears"></i>
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-sign-out"></i> Thoát</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    {{/if}}
</template>