<template name="channelOfFriends">
    <div class="row">
        <div class="col-xs-12">
            <h2>Kênh bạn bè</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-right">
                <button class="btn btn-success" id="btnGetFriends">
                    <i class="fa fa-refresh"></i>
                    Tải lại
                </button>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Tên kênh</th>
                        <th>Tạo bởi</th>
                        <th></th>
                        <th>
                        </th>
                    </thead>
                    <tbody>
                    {{#each channels}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{userChannel.profile.name}}</td>
                            {{#if userChannel.status.online}}
                            <td><span class="label label-success">Online</span></td>
                            {{else}}
                            <td><span class="label label-danger">Offline</span></td>
                            {{/if}}
                            <td class="text-right">
                            {{#if userChannel.status.online}}
                                <a href="/channel/of/{{userChannel._id}}" class="btn btn-success"><i class="fa fa-signin"></i> Tham gia</a>
                            {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>