<template name="channelOfFriends">
    <div class="row">
        <div class="col-xs-12">
            <h2>Kênh bạn bè</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Tên kênh</th>
                        <th>Tạo bởi</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {{#each channels}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{userChannel.profile.name}}</td>
                            <td><a href="/channel/of/{{userChannel._id}}" class="btn btn-success"><i class="fa fa-signin"></i> Tham gia</a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>