<template name="myChannel">
    <div class="row">
        <div class="col-md-12">
            {{#if isSubReady 'myChannel'}}
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{channel.title}} <a href="{{channel.pathEditChannel}}" class="btn btn-default"><i class="fa fa-gear"></i></a></h3>
                        <p>{{channel.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        {{> player_channel}}
                    </div>
                    <div class="col-xs-5">
                        <img src="/images/chat.png" alt="chat"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">1</div>
                            <div role="tabpanel" class="tab-pane" id="profile">2</div>
                            <div role="tabpanel" class="tab-pane" id="messages">3</div>
                            <div role="tabpanel" class="tab-pane" id="settings">4</div>
                        </div>

                        <script>
                            $(function () {
                                $('#myTab a:last').tab('show')
                            })
                        </script>
                    </div>
                </div>
            {{else}}
                {{> loading_data}}
            {{/if}}
        </div>
    </div>
</template>